    <%- include('./includes/head.ejs') %>

    </head>

    <body>
        <!-- Header -->
        <%- include('./includes/nav.ejs') %>
        <!-- Header Ends -->

        <!-- Edit Sub Admin -->
        <section id="edit-subadmin">
            <div class="jumbotron bg-light">
                <div class="container-md py-2 py-sm-2 py-md-3 py-lg-4 py-xl-5">
                    <div class="row gutters">
                        <div class="col-12 col-md-5">
                            <h2 class="h2 display-6">Edit Sub Admin</h2>
                        </div>
                        <div class="col-12 col-md-7">
                            <div id="alert" class="alert py-1 py-sm-1" role="alert" hidden="hidden">
                                <div class="text-muted"></div>
                                <i id="close-alert" class="far fa-times-circle"></i>
                            </div>
                        </div>
                    </div>
                    <hr class="my-sm-2 my-md-3 my-lg-4">
                        <div id="edit-subadmin-area">
                            <div class="row gx-4 gy-3">
                                <div class="col-12 col-md-6">
                                    <form id="profile-form">
                                        <div class="row gx-4 gy-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="userName" class="text-muted">User Name</label>
                                                    <input type="text" name="userName" id="userName" class="form-control py-1" placeholder="Enter User Name&mldr;">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="email" class="text-muted">Email Address</label>
                                                    <input type="email" name="email" id="email" class="form-control py-1" placeholder="Enter Email Address&mldr;">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="submit" id="edit-profile-btn" class="btn btn-primary py-1">Save Profile</button>
                                                    <button type="button" id="cancel-edit-profile-btn" class="btn btn-primary py-1">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-12 col-md-6">
                                    <form id="password-form">
                                        <div class="row gx-4 gy-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="new_password" class="text-muted">New Password</label>
                                                    <input type="password" name="new_password" id="new_password" class="form-control py-1" placeholder="Enter New Password&mldr;">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="confirm_password" class="text-muted">Confirm Password</label>
                                                    <input type="password" name="confirm_password" id="confirm_password" class="form-control py-1" placeholder="Confirm Password&mldr;">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="submit" id="change-password-btn" class="btn btn-primary py-1">Change Password</button>
                                                    <button type="button" id="cancel-change-password-btn" class="btn btn-primary py-1">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </hr>
                </div>
            </div>
        </section>
        <!-- Edit Sub Admin Ends -->

        <!-- Edit Sub Admin Custom JS -->
        <script src="/scripts/admin/edit-subadmin.script.js"></script>

        <!-- Footer -->
        <%- include('./includes/footer.ejs') %>
        <!-- Footer Ends -->
    </body>
</html>