# npm modules / packages
node_modules

# Environment variables
.env

# Invoices directory
Invoices

# Products Images
public/images/products/*
!public/images/products/default.jpg

# VS Code extensions
.vscode
