<%- include('./includes/head.ejs') %>

    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <section id="products-list">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="left-heading">
                                    <h2>Products</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="product-desc">
                                    <h4></h4>
                                </div>
                            </div>
                            <div id="nothing-to-display" class="col-sm-12 col-md-12 justify-content-center" hidden>
                                <p>Nothing to display here...</p>
                            </div>
                        </div>
                        <div id="products-area" class="row">
                        </div>
                    </div>
                </div>
                <nav aria-label="Product Pagination">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </section>

            <%- include('./includes/tail.ejs') %>

            <script src="/scripts/products.script.js"></script>
    </body>

    </html>