<%- include('./includes/head.ejs') %>

    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <section id="products-list">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="left-heading">
                                    <h2>Products</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="product-desc">
                                    <h4>Total totalItems products available!</h4>
                                </div>
                            </div>
                            <div id="nothing-to-display" class="col-sm-12 col-md-12 justify-content-center" hidden>
                                <p>Nothing to display here...</p>
                            </div>
                        </div>
                        <div id="products-area" class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="row product-items">
                                    <div class="col-12 col-sm-12 col-md-4">
                                        <img src="/images/1.jpg" alt="product" class="img-responsive">
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-8">
                                        <div class="product-head">
                                            <h5>
                                                PUMA Smash Vulc Sneakers
                                            </h5>
                                            <h6>
                                                By PUMA
                                            </h6>
                                        </div>
                                        <ul class="product-details">
                                            <li>
                                                <p class="detail-title">
                                                    <span>
                                                        Footwear
                                                    </span>
                                                </p>
                                                <p class="detail-title">
                                                    <span>
                                                        Sneakers
                                                    </span>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="detail-title">Price: &nbsp;</p>
                                                <span>&#8377; 999.00</span>
                                            </li>
                                            <li>
                                                <p class="detail-title">Quantity Left: &nbsp;</p>
                                                <span>24</span>
                                            </li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-3">
                                                <label for="quantity" style="display: inline-flex;">
                                                    Qty: &nbsp;
                                                </label>
                                                <select name="quantity" id="quantity" class="form-control" style="display: inline-flex; width: max-content;">
                                                    <option value=1 selected hidden>1</option>
                                                    <option value=1>1</option>
                                                </select>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-3">
                                                <button type="button" class="btn btn-add-to-cart btn-block">Add To Cart</button>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6">
                                                <div id="alert" class="alert alert-success" role="alert" hidden>
                                                    Successfull
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Product Pagination">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </section>

            <%- include('./includes/tail.ejs') %>

            <script src="/scripts/products.script.js"></script>
    </body>

    </html>