.auth-form form {
    width: 90%;
    padding: 50px;
    border: 1px solid brown;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.auth-form form h2 {
    color: brown;
    margin-bottom: 50px;
}
.auth-form form p {
    font-size: 18px !important;
}
.auth-form form p a {
    color: brown;
}

.auth-form form .form-group {
    margin-bottom: 30px;
}
.auth-form form .form-group .form-control {
    height: 50px;
    font-size: 22px !important;
}

.btn-primary {
    height: 50px;
    font-size: 24px;
    color: brown;
    background-color: #fffeee;
    border: 1px solid brown;
}

.btn-primary:hover {
    color: brown;
    background-color: #cdcdcd;
    border: 1px solid brown;
}

.left-heading h2 {
    margin-bottom: 30px;
    color: brown;
}
.left-heading h3 {
    margin-bottom: 30px;
    color: brown;
}

/* Home / My Cart */
.product-desc h4,
.cart-desc h4 {
    margin-bottom: 30px;
    color:brown;
}

.product-items,
.cart-items {
    width: 100%;
    margin-top: 30px;
    border: 1px solid brown;
    border-radius: 3px;
}

.product-items img,
.cart-items img {
    width: 100%;
}
.product-items .list-product,
.cart-items .cart-product {
    height: 300px;
    padding: 25px;
}
.product-head {
    height: 52px;
}
.product-head h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: brown;
    margin: 0 5px 0 0;
    padding: 0;
    display: inline-flex;
}
.product-head h6 {
    display: inline-flex;
}
.product-head p1 {
    display: flex;
}
ul.product-details {
    list-style: none;
    padding: 0;
}

ul.product-details li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #cdcdcd;
    display: -webkit-box;display: -ms-flexbox;display: flex;
}

ul.product-details li p.detail-title {
    height: 20px;
    margin-right: 15px;
}

/* Content Boxes */

.content-box-md {
    padding: 60px 0;
}