<%- include('./includes/head.ejs') %>

    </head>

    <body>
        <%- include('./includes/nav.ejs') %>
        
        <section id="my-cart">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="left-heading">
                                <h2>My Cart</h2>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            <div id="alert" class="alert" role="alert" hidden>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            <div id="checkout-area" class="row">
                                <div class="col-12 col-12 col-md-6 text-center">
                                    <h6 class="detail-title">Total(4000000000000 items): &nbsp;</h6>
                                    <h6>&#8377; 45000t8758784848.00</h6>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <button type="button" id="check-out-btn" class="btn btn-check-out btn-block">Proceed to Checkout</button>
                                </div>
                            </div>
                        </div>
                        <div id="nothing-to-display" class="col-12 col-sm-12 col-md-12 justify-content-center" hidden>
                            <p>Nothing to display here...</p>
                        </div>
                    </div>
                    <div id="cart-area" class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="row cart-items">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="product-head">
                                        <h5>
                                            PUMA Smash Vulc Sneakers
                                        </h5>
                                        <h6>
                                            By PUMA
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3">
                                    <ul class="product-details">
                                        <li>
                                            <p class="detail-title">
                                                <span>
                                                    Footwear
                                                </span>
                                            </p>
                                            <p class="detail-title">
                                                <span>
                                                    Sneakers
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="detail-title">Price: &nbsp;</p>
                                            <span>&#8377; 999.00</span>
                                        </li>
                                        <li>
                                            <p class="detail-title">Quantity Left: &nbsp;</p>
                                            <span>24</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <label for="quantity" style="display: inline-flex;">
                                                Qty: &nbsp;
                                            </label>
                                            <select name="quantity" id="quantity" class="form-control" style="display: inline-flex; width: max-content;">
                                                <option value=1 selected hidden>1</option>
                                                <option value=0>0 (Remove)</option>
                                                <option value=1>1</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <button type="button" class="btn btn-add-to-cart btn-block">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./includes/tail.ejs') %>

        <script src="/scripts/cart.script.js"></script>
    </body>
</html>