<%- include('./includes/head.ejs') %>

    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <section id="orders-list">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="left-heading">
                                    <h2>Order History</h2>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div id="alert" class="alert" role="alert" hidden>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="row options">
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <select name="status" id="status" class="form-control">
                                            <option value="" selected>Filter by Status</option>
                                            <option value="success">Success</option>
                                            <option value="pending">Pending</option>
                                            <option value="failed">Failed</option>
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <select name="sort-by" id="sort-by" class="form-control">
                                            <option value="" selected>Sort By: </option>
                                            <option value="id">Order ID</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <select name="order-by" id="order-by" class="form-control">
                                            <option value="" selected>Order By</option>
                                            <option value="ASC">Ascending</option>
                                            <option value="DESC">Descending</option>
                                        </select>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3 text-right">
                                        <p style="display: inline-block; width: max-content;">Page Size: </p>
                                        <select name="page-size" id="page-size" class="form-control" style="display: inline-block; width: auto;">
                                            <option value=5 selected>5</option>
                                            <option value=10>10</option>
                                            <option value=15>15</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="nothing-to-display" class="col-sm-12 col-md-12 justify-content-center" hidden>
                                <p>Nothing to display here...</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 grid-table table-responsive-xl">
                                <table id="order-history" class="table" hidden>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="align-middle text-center">Order<br>ID</th>
                                            <th scope="col" class="align-middle text-center">DATE</th>
                                            <th scope="col" class="align-middle text-center">Details</th>
                                            <th scope="col" class="align-middle text-center">Price</th>
                                            <th scope="col" class="align-middle text-center">Qty</th>
                                            <th scope="col" class="align-middle text-center">Sub Total</th>
                                            <th scope="col" class="align-middle text-center">Total</th>
                                            <th scope="col" class="align-middle text-center">Status</th>
                                            <th scope="col" class="align-middle text-center">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Cart Pagination">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </section>

            <%- include('./includes/tail.ejs') %>

            <script src="/scripts/orderhistory.script.js"></script>
    </body>

</html>